h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

table{
    border: 1px solid black;
    margin:auto;
}

th, td {
    border: 1px solid red;
    padding: .5em;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(7,auto);
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 1em;
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}