{% extends 'base.html' %}

{% block content %}
    <h1>Accounts</h1>
    <table>
        <theader> 
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Reciepts</th>
            </tr>
        </theader>
        <tbody>
            {%for account in account_list%}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.reciepts.all|length}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{% endblock content %}

