{%extends 'base.html' %}
{% block content %}
    <h1>Receipts</h1>
    <table>
        <theader> 
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </theader>
        <tbody>
            {%for reciept in reciept_list%}
            <tr>
                <td>{{reciept.vendor}}</td>
                <td>{{reciept.total}}</td>
                <td>{{reciept.tax}}</td>
                <td>{{reciept.date|date:"M-d-Y"}}</td>
                <td>{{reciept.category.name}}</td>
                <td>{{reciept.account.name}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{% endblock content %}



