{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app.css'%}">
    <title>Accounts</title>
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                {% if user.is_authenticated %}
                    <li class ="nav-item">
                        <a href= "{% url 'logout'%}">Logout</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'home'%}">Reciepts</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'create_reciept'%}">Create Receipt</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'account_list'%}">Accounts</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'create_account'%}">Create Account</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'category_list'%}">Categories</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'create_category'%}">Create Category</a>
                    </li>
                {%else%}
                    <li class ="nav-item">
                        <a href= "{% url 'login' %}">Login</a>
                    </li>
                    <li class ="nav-item">
                        <a href= "{% url 'signup' %}">Sign Up</a>
                    </li>
                {%endif%}
                
            </ul>
        </nav>
    </header>
    {%block content%}

    {%endblock content%}
</body>

</html>