{% extends 'base.html' %}

{% block content %}
    <h1>Expense Category</h1>
    <table>
        <theader> 
            <tr>
                <th>Name</th>
                <th>Number of reciepts</th>
            </tr>
        </theader>
        <tbody>
            {%for category in expensecategory_list%}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.reciepts.all|length}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{% endblock content %}

